*{
    margin: 0;
    padding: 0;
    border: 0 none;
    box-sizing: border-box;		
}
html, body{
    height: 100%;
    width: 100%;	
}
body{	
    width: 100%;
    height: 100%;		    
}
h1{
    margin: auto;
}
h1.login{
    padding-top: 5%;
    padding-left: 5%;
    box-sizing: border-box;
}
button.login{
    border: solid 1px;
    height: 30px;
    width: 100px;	
    border-radius: 5px;	
    position: relative;
    left: 35%;
    top: 50px;    
}
input.login{
    height: 25px;
    width: 40%;
    position: relative;
    left: 5%;    
    top: 10px;
    display: block;
}
label.login{
    display: block;
    box-sizing: border-box;
    padding-top: 5%;
    padding-left: 5%;
}

table{
    border-collapse: collapse;    
    background-color: darkkhaki;
    width: 100%;
    height: 64%;
    display: block;				
    float: left;
}
thead{
    width: 100%;
    height: 17%;
    display: block;
    text-align: center;
    overflow-y: scroll;
    background-color: coral;
    border: solid 1px black;
}
tbody{
    display: block;	
    height: 83%;
    width: 100%;
    background-color: cornflowerblue;
    overflow-y: scroll;
    text-align: center;
    border: solid 1px black;
}
tr{    
    display: block;	
    overflow: hidden;	    	
}
td{
    float: left;      
}
th{
    float: left;	
    width: 100%;		    		
    display: flex;
    box-sizing: border-box;	
    justify-content: center;
    align-items: center;
    padding: .5em;	
}
tbody tr:nth-child(odd){
    background-color: cornsilk;
}
tbody tr:nth-child(even){
    background-color: burlywood;	
}
thead th{		    
    background-color: cadetblue;
    border: 1px solid black;    
}
tbody tr:hover{
    background-color: darkgrey;
    color: white;		
}	
[campo-dato='Numero']{
    width: 5%;	
    height: 28px;	
    cursor: pointer;
    border: solid 1px black;
    border-collapse: collapse;	    
}
[campo-dato='Nombre']{
    width: 35%;	
    height: 28px;	
    cursor: pointer;
    border: solid 1px black;
    border-collapse: collapse;
}
[campo-dato='Clave']{
    width: 45%;	
    height: 28px;	
    cursor: pointer;
    border: solid 1px black;
    border-collapse: collapse;
}
[campo-dato='Baja']{
    width: 15%;	
    height: 28px;	
    cursor: pointer;
    border: solid 1px black;
    border-collapse: collapse;	
}
button.btTabla{
    width: 100%;	
    height: 100%;
    cursor: pointer;
    border: solid 1px black;
    border-collapse: collapse;
}



div.modal1{
    position: fixed;
    position: absolute;
    height: 39%;
    width: 30%;
    left: 15%;
    top: 25%;	
    border: solid 1px black;	
    }
div.modal2{
    position: fixed;
    position: absolute;
    height: 39%;
    width: 40%;
    left: 45%;
    top: 25%;	
    border: solid 1px black;	
    }
div.superior{
    height: 6%;	
    width: 100%;	
    display: block;
    display: flex;        
    justify-content: flex-end;
    background-color: slategrey;	
    }
div.inferior{
    height: 10%;
    width: 100%;		
    display: block;   
    float: left; 
    background-color: slategrey;	
    }
div.medio{
    height: 64%;
    width: 100%;
    background-color: steelblue;
    border: solid 1px black;
    display: block;
    float: left;
    }
header.interno, footer.interno{
    width: 100%;
    height: 10%;
    display: block;
    float: left;
    font-size: 1vw;
    align-items: center;
    justify-content: center;		
    display: flex;		
    background-color: cadetblue;
    }
button.ventana{		
    width: 5%;
    height: 100%;	
    font-size: 0.8vw;	
    background-color: blanchedalmond;
    border: solid 1px black;		
    }
button.interno{
    border: solid 1px;
    height: 100%;
    width: 100px;	
    border-radius: 5px;		
    }
input.interno{
    left: 5%;		
    height: 15%;
    width: 50%;    
    position: relative;		
    }
label.interno{
    padding-top: 5%;
    padding-left: 5%;
    display: block;    
    }
div.activado{	
    pointer-events:	auto;
    opacity: 1;
    height: 50%;
    width: 50%;
    border: solid 2px black;
    background-color: coral;
    position: relative;
    left: 25%;
    top: 25%;
    }
div.desactivado{
    pointer-events: none;
    opacity: 0.3;
    height: 50%;
    width: 50%;
    border: solid 2px black;
    background-color: coral;
    position: relative;
    left: 25%;
    top: 25%;
    }